<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @song.song_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Service:</strong>
  <%= @song.service %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
